.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.html {
	box-sizing: border-box;
}
.top-navigation {
	background-color: white;
	width: 100%;
	z-index: 9999;	
	border-bottom: 1px solid #99CC99;
}
.top-navigation .content {
	width: 809px;
	height:  70px;
	margin: 0 auto;
}
.top-navigation .links {
	float: right;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	color: #99CC99;
}
.top-navigation .links .active {
	font-weight: 600;
}
.top-navigation ul {
	display: block;
}
.top-navigation li {
	margin-top: 1.7em;
	margin-left: 2em;
	display: inline-block;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #FEBF10;
}
.top-navigation .links a:visited {
	color: #99CC99;
}
.introduction {
	background-image: url(http://i15.photobucket.com/albums/a385/skatergirl117/stock-image_zpsvzh1qzha.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}
.introduction .content h2, h4 {
	text-align: center;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Poiret One', cursive;
}
.introduction .content h2 {
	font-size: 3rem;
	font-weight: bold;
	padding-top: 9rem
}
.introduction .content h4 {
	font-size: 1.75rem;
	text-align: left;
	margin-top: 1rem;
	margin-left: 30rem;
}
.About-Me {
	padding-bottom: 5rem;
	padding-top: 2rem;
	padding-left: 15rem;
	padding-right: 15rem;
	font-weight: bold;
}
.About-Me h3 {
	font-size: 3rem;
	text-align: left;
	padding-top: 2rem;
	font-family: 'Poiret One', cursive;
	color: #99CC99;
}
.About-Me p {
	font-size: 1.5em;
	text-align: left;
	font-family:'Poiret One', cursive;
	padding-top: 2rem;
	color: #000000;
	line-height: 125%;
}
.social hr {
	border: 0;
	border-top: 1px solid #99CC99;
	margin: 1.313rem 0;
}
.social .content {
	text-align: center;
}
.social li {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0 auto;
	line-height: 2.5rem;
	text-align: center;
	margin: 1.25rem 5px;
}
.social .instagram {
	color: #99CC99;
}
.social .pinterest {
	color: #99CC99;
}
.social .linkedin {
	color: #99CC99;
}
.social .github {
	color: #99CC99;
}